<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>林宏健--个人博客</title>
        <meta name="keywords" content="林宏健--个人博客" />
        <meta name="description" content="林宏健--个人博客" />
        <meta name="mobile-agent" content="format=html5; url=http://m.zx.wed114.cn/shenghuo/20160920156214.html" />
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
        <link href="__PUBLIC__/style/lady.css" type="text/css" rel="stylesheet" />
        <script type='text/javascript' src='./style/ismobile.js'></script>
    </head>

    <body>
<div class="ladytop">
            <div class="nav">
                <div class="left"><a href=""><img src="__PUBLIC__/images/hunshang.png" alt="wed114婚尚"></a></div>
                <div class="right">
                <div class="box">
                 
                 <a href="{:url('index/index')}" rel="dropmenu209">首页</a>
                 {foreach name="cater" id="vo"}
                    <a href="{:url('cate/index',array('cateid'=>$vo['id']))}">{$vo.catename}</a>
                 {/foreach}
                 </div>
                </div>
            </div>
        </div>

<div class="hotmenu">
	<div class="con">热门标签：<a href='qiwenqushi/'>奇闻趣事</a> <a href=''>生活妙招</a> <a href='xingzuo/'>星座</a> <a href='qinzi/'>亲子</a> <a href='qiche/'>汽车</a> <a href='chongwubaike/'>宠物百科</a> <a href='jiaji/'>家居</a> </div>
</div>